
<div class="container">
  <div>
    <b>Super Calculator</b>
    <form class="form-inline">
      <input name="first" [(ngModel)]="first" type="text" class="input-small inputclass"/>
      <select name="operator" [(ngModel)]="operator">
        <option value="{{operators[key]}}" *ngFor="let key of Object.keys(operators)">{{key}}</option>
      </select>
      <input name="second" [(ngModel)]="second" type="text" class="input-small"/>
      <button (click)="doCalc()" id="gobutton" class="btn btn-secondary">Go!</button><br>
      &nbsp;&nbsp;<b id="result">{{latest}}</b>
    </form>
  </div>
  <br>

  <b>History</b>
  <table class="table">
    <thead><tr>
      <th>Time</th>
      <th>Expression</th>
      <th>Result</th>
    </tr></thead>
    <tr *ngFor="let result of memory">
      <td class="hist-time">
        {{result.timestamp | date:'mediumTime'}}
      </td>
      <td class="hist-expr">
        <span>{{result.first}}</span>
        <span>{{result.operator}}</span>
        <span>{{result.second}}</span>
      </td>
      <td class="hist-result">{{result.value}}</td>
    </tr>
  </table>
</div>
